body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 9 16px;
}
.project {
  /* width: 600px; */
  position: relative;
}

.navbar {
  padding: 64px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .left {
  font-size: 48px;
  font-weight: bold;
}

.navbar .right {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .right a {
  text-decoration: none;
  color: black;
  transition: 0.5s;
}

.navbar .right a:hover {
  text-decoration: underline;
  color: black;
}

.navbar .right img {
  width: 24px;
  margin: 24px;
}

.navbar .hamburger {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    display: none;
}

.navbar .bar {
    margin: 3px;
    background-color: black;
    height: 4px;
    width: 36px;
    border-radius: 10px;
}
.project-grid {
  width: 100%;
  margin: 50px auto;
  display: grid;
  grid-template-areas:
    "eth eth alphabet"
    "eth eth traveler"
    "cube astro traveler"
    "cup insta insta"
    "cup insta insta"
    "foam foam dimensional"
    "foam foam dimensional";
  grid-gap: 16px;
}

#eth {
  grid-area: eth;
}

#alphabet {
  grid-area: alphabet;
}

#traveler {
  grid-area: traveler;
}

#astro {
  grid-area: astro;
}

#cube {
  grid-area: cube;
}

#insta {
  grid-area: insta;
}

#cup {
  grid-area: cup;
}

#foam {
  grid-area: foam;
}

#dimensional {
  grid-area: dimensional;
}

.project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project .overlay {
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 2px;
  opacity: 0;
  transition: all 0.2s ease;
}

.overlay.white {
  color: white;
}

.project .overlay:hover {
  opacity: 1;
  cursor: pointer;
}

.footer {
  text-align: center;
  padding: 64px;
}

@media only screen and (max-width: 1100px) {
  .container {
    max-width: 100%;
  }
  .project-grid {
    grid-template-areas:
      "eth eth"
      "eth eth"
      "alphabet traveler"
      "cube astro"
      "cube astro"
      "insta insta"
      "insta insta"
      "cup foam"
      "dimensional dimensional"
      "dimensional dimensional";
    max-width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .footer {
    font-size: 14px;
    padding: 32px;
  }
.navbar {
    padding: 16px auto;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    z-index: 3;
    background-color: white;
    width: 100%;
}

  .project-grid {
    margin-top: 150px;
    grid-template-areas:
      "eth eth"
      "alphabet alphabet"
      "traveler traveler"
      "cube astro"
      "insta insta"
      "cup cup"
      "foam foam"
      "dimensional dimensional";
  }
  .project .overlay {
    font-size: 24px;
  }
  .navbar .right {
    display: none;
  }

  .navbar .hamburger {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
